*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:rgba(73, 131, 72, 0.707);
    color: chartreuse;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page{
    height: 500px;
    width: 90%;
    background-color: rgba(91, 162, 89, 0.707);
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgba(25, 75, 24, 0.707);
    border-radius: 10pt;
    margin-top: 40pt;
    padding-top: 5pt;
    padding-left: 150pt;
    padding-right: 5pt;
    width: 80%;
}

#PFP {
    position: absolute;
    top:2%;
    left:2%;
    height: 30%;
    border-radius: 25%;


}


h1{
    font-size: 65pt;
}